DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432
REDIS_PORT=6379
REDIS_PASSWORD=redis
PORT=3000
TWITCH_CLIENT_ID=ID_HERE
TWITCH_CLIENT_SECRET=SECRET_HERE
TWITCH_API_URL=https://id.twitch.tv/
PINO_ENABLED=true
STEAM_API_KEY=KEY_HERE